/* css for login */

.admin-login-container{
    width:100%;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-login{
    padding:20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px;
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: white;
}

.admin-login input{
    height:40px;
    text-indent: 20px;
}

.message{
    padding: 5px;
    width: 200px;
    background-color: black;
    color: white;
    position: fixed;
    bottom:10px;
    right: 0;
    font-size: 13px;
    border-radius: 5px;
}

.error_msg{
    background-color: red;
    color: white;
}

.success_msg{
    background-color: green;
    color:black;
}

/* css for admin dashboard*/


.admin-dashboard{
    /* background-color: lightgray; */
    width: 100%;
    height: 100vh;

}

.admin-header{
    width: 100%;
    height:4vh;
    background-color:black;
    display: flex;
    justify-content: space-between;
    color:white;

}

.admin-header-logo{
    width:15%;
    text-align: center;
    line-height: 4vh;
}

.admin-header-logout{
    width:15%;
    /* background-color: red; */
    text-align: center;
    line-height: 4vh;
    font-size: 11px;
}

.admin-dashboard-options{
    width:100%;
    height: 96vh;
    display: flex;
}

.dashboard-options{
    width: 15%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.dash_option{
    width:100%;
    height:30px;
    font-size: 16px;
    color:white;
    /* background-color: green; */
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    line-height: 30px;
    cursor: pointer;
}

.dash_option:hover{
    background-color: white;
    color:black
}

.options{
    margin-top:50px;
}


.dash_display{
    padding:10px 30px;
    width:85%;
    height: 100%;
}

.panel h5{
    text-align: center;
    margin-top:20px;
}

.panel_inputs{
    padding:10px;
    width:100%;
    background-color: lightgray;
    column-gap:1%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

.panel_inputs button{
    /* width:10%; */
    margin-top: 20px;
}

.panel_inputs input,select{
    width:49% !important;
}

.panel-links{
    width:100%;
    padding: 0px 20px;
    background-color: lightgray;
}



/* css for view product modal and update product model */
.view-product-modal,.update-product-modal{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
    top:0;
    left:0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-modal, .update-modal{
    width:60%;
    padding:30px;
    border-radius: 6px;
    background-color: white;

}

.update-modal{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 1%;

}

.update-modal input,select{
    width:49% !important;
    font-size: 13px;
}

.update-modal textarea{
    height:80px;
    font-size: 13px;
}


.update_images_section{
    width: 100%;
    padding: 10px;
    /* background-color: red; */
    display: flex;
    column-gap: 5px;
}

.update_image{
    width: 150px;
    padding:2px 0px;
    /* background-color: green; */
    position: relative;
    border:1px solid lightblue
}

.close{
    position: absolute;
    top:-3px;
    right:-3px;
    color:red;
    font-size: 18px;
}

.plus-section{
    width:150px;
    height:100px;
    border-radius: 10px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plus{
    font-size:40px;
    font-weight: 200;
}

.hidden_input{
    display: none;
}

a{
    text-decoration: none !important;
}


/* css for vendor select products */

.vendor_select_product{
    width: 100%;
    padding:10px;
    background-color: lightgray;
}

.select_product{
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    align-items: center;
}

.select-product-modal{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
    top:0;
    left:0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-modal{
    width:60%;
    padding:30px;
    border-radius: 6px;
    background-color: white;
    display: flex;
    /* flex-direction: column; */
    column-gap: 10px;
}
