

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Poppins:ital,wght@0,100;0,200;1,100;1,200&family=Roboto');


.background{
    width:100%;
    min-height: 100vh;
    /* background-color:#fbed72; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.pexels.com/photos/4210610/pexels-photo-4210610.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.register{
    width: 30%;
    height: 80vh;
    background-color: lightgray;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.register_form{
    padding: 10px 20px;
    width: 100%;
    position: absolute;

}

.form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    margin-top: 40px;
}

.form input,select{
    width: 100%;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    height: 35px;
    text-indent: 20px;
    /* border: none; */
    background-color: transparent;
}

.form button{
    background-color: black;
    color:white;
    width: 60%;
    border-radius: 5px;
    border: none;
    height: 35px;
    cursor: pointer;
    
}

.form button:hover{
    background-color: white;
    color: black;
}


/* css for header */

.header_section{
    width:100%;
    height: 40px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    position:fixed;
    z-index: 500;
}

.header{
    width:70%;
    background-color:rgba(0, 0, 0, 0.7);
    height: 40px;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid black; */
    padding:5px;
    /* border-radius: 5px; */
    color:white;
}

.logo_search{
    width:70%;
    display: flex;
    /* background-color: aqua; */
}

.logo_search input{
    border-radius: 5px;
    width: 50%;
    outline: none;
    text-indent: 20px;
    border:1px solid gray;
}

.search_results{
    width: 250px;
    padding: 10px;
    background-color: white;
    position: absolute;
    top:35px;
    left:285px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 200;
}

.search_lists{
    list-style-type: none;
}

.search_list{
    height: 25px;
    /* text-align: center; */
    color: black;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    /* border-bottom:1px solid lightgray; */
}

.search_list:hover{
    box-shadow: 0px 0px 1px 1px;
    cursor: pointer;
}

.logout{
    width: 20%;
    /* background-color: red; */
    display: flex;
    align-items: center;
}


/* css for category header */

.category_header_section{
    width: 100%;
    display: flex;
    justify-content: center;
}

.category_header{
    width: 70%;
    height: 65px;
    /* background-color: blue; */
    display: flex;
}


/* css for baner */

.banner_section{
    width: 100%;
    height: 540px;
    /* background-color: #EBC678; */
    display: flex;
    justify-content: center;
}

.banner{
    width: 70%;
    /* background-color: red; */
    height: 100%;
}

/* css for footer */

.footer_section{
    width: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    padding:0px 0px;
    color: black;
}

.footer{
    width: 70%;
    background-color: #a19a9a;
    padding-top: 30px;
    /* padding-bottom: 10px; */
    padding-left: 10px;
    padding-right: 10px;
}

.foot{
    width:100%;
    /* padding:5px; */
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
}

.foot ul{
    width: 23%;
    list-style-type:none;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    /* background-color: red; */
}

.foot ul>li{
    height: 25px;
    cursor: pointer;
}

.foot div{
    width: 23%;
    
}

.foot div>i{
    margin-right: 5px;
}


/* css for about */

.about_section{
   width: 100%;
   padding: 10 0px;
   /* background-color: black; */
   display: flex;
   justify-content: center;
   color: black;
}

.about_details{
    width: 70%;
    background-color: #a19a9a;
    padding:20px;
    font-size: 13px;
}

.about_icons{
    width: 100%;
    padding: 10px;
    /* background-color: white; */
    display: flex;
    justify-content: space-around;

}

.about{
    width: 18%;
    padding:10px;
    background-color: white;
    height: 100px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: .3s;
}

.about:hover{
    transform:translate(-5% ,-10%);

}

.about i{
    color:black;
    font-size: 30px;
}

.about_icons p{
    color:black;
}


/* css for products section */

.products_section{
    width: 100%;
    display: flex;
    padding:0px 0px;
    justify-content: center;
    /* background-color: black; */
}

.products{
    width: 70%;
    /* background-color: lightgray; */
    height: 350px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #696060;
    padding-bottom: 30px;
    padding: 20px;

}

.product_head{
    display: flex;
    justify-content: space-between;
}

.product_head button{
    height: 25px;
    outline: none;
    background-color: black;
    color: white;
    width: 10%;
    border-radius: 5px;
    border: none;
    font-size: 11px;
    cursor: pointer;
}

.product_head button:hover{
    background-color: white;
    color: black;
}

.product_head button:active{
    background-color: black;
    color: white;
}

.product{
    width: 100%;
    height: 220px;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
}

.pro{
    width: 19%;
    height: 100%;
    background-color: #a19a9a;
    border-radius: 5px;
    box-shadow: 0px ,0px, 2px,2px;
    cursor: pointer;
    transition: .3s;
    position: relative;
    overflow: hidden;
}

.prod_details{
    width: 100%;
    height: 35%;
    background-color: black;
    padding: 10px;
    position: absolute;
    bottom: 0;
    color:white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: .3s;

}

.prod_details p{
    font-size: 11px;
}

.prod_details div{
    width: 50%;
    height: 25px !important;
    border-radius: 5px;
    border: none;
    margin-top: 3px;
    background-color: white;
    color:black;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    margin-left: 25%;

}

.pro:hover{
    box-shadow: 0px 0px 2px 2px black;
}

.pro:hover >.prod_details{
    display: flex;
}

.pro a{
    width: 100%;
}

.pro img{
    width: 100%;
    height: 80%;
}


a{
    text-decoration: none !important;
    color:white !important;
}


/* css for leadership */
.leader_section{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;


}

.leader{
    width: 70%;
    background-color: #a19a9a;
    padding:10px 20px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
}

.lead{
    width: 19%;
    height: 200px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lead h4{
    font-size: 15px;
}

.lead p{
    font-size: 12px;
}



.gallery_section{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.gallery{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1px;
    
}

.gallery img{
    width: 33.33%;
    height: 200px;
}




/* css for single product section */

.flex_single{
    display: flex;
    flex-direction: column;
}

.single_section{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.single{
    width: 70%;
    padding:20px 20px;
    background-color: #696060;
}

.single_image{
    width: 100%;
    height: 200px;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
}

.single_details{
    width: 100%;
    height: 200px;
    background-color:#a19a9a;
    padding:20px
}

.single_price{
    margin-top: 5px;
    width: 100%;
    background-color: white;
    padding:5px;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}

.add_buy{
    width: 50%;
    /* background-color: rebeccapurple; */
}

.add_buy button{
   border-radius: 5px;
   height: 30px;
   outline: none;
   width: 20%;
   border: none;
   background-color: black;
   color:white;
   margin-left: 5px;
}
