
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Poppins:ital,wght@0,100;0,200;1,100;1,200&family=Roboto');


.background{
    width:100%;
    min-height: 100vh;
    /* background-color:#fbed72; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.pexels.com/photos/4210610/pexels-photo-4210610.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.register{
    width: 30%;
    height: 80vh;
    background-color: lightgray;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.register_form{
    padding: 10px 20px;
    width: 100%;
    position: absolute;

}

.form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    margin-top: 40px;
}

.form input,select{
    width: 100%;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    height: 35px;
    text-indent: 20px;
    /* border: none; */
    background-color: transparent;
}

.form button{
    background-color: black;
    color:white;
    width: 60%;
    border-radius: 5px;
    border: none;
    height: 35px;
    cursor: pointer;
    
}

.form button:hover{
    background-color: white;
    color: black;
}


/* css for footer */

.footer_section{
    width: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    padding:20px
}

.footer{
    width: 70%;
    background-color: yellow;
    padding: 10px;
}

.foot{
    width:100%;
    /* padding:5px; */
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
}

.foot ul{
    width: 23%;
    list-style-type:none;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    /* background-color: red; */
}

.foot ul>li{
    height: 25px;
}

.foot div{
    width: 23%;
    
}

.foot div>i{
    margin-right: 5px;
}


/* css for about */

.about_section{
   width: 100%;
   padding: 10px;
   /* background-color: black; */
   display: flex;
   justify-content: center;
}

.about_details{
    width: 70%;
    background-color: #ffff0080;
    padding:20px;
    font-size: 13px;
}

.about_icons{
    width: 100%;
    padding: 10px;
    /* background-color: white; */
    display: flex;
    justify-content: space-around;

}

.about{
    width: 18%;
    padding:10px;
    background-color: white;
    height: 100px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.about i{
    font-size: 30px;
}