.App{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_container{
  padding:20px;
  background-color: lightgray;
  box-shadow: 0px 0.5px 0px 0.3px;
  width: 30%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.form_container input{
  padding:5px;
  border: none;
  border-radius: 10px;
  outline: none;
  border: 1px solid lightgray;
  width: 100%;
  text-indent: 5px;
}
