/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins');


*{
    margin:0px;
    padding:0px;
}

/* REUSEABLE CSS */

.container{
    width:80%;
    /* background-color:bisque; */
}

.flex{
    display:flex;
    justify-content:center;

}


/* /////////////MOBILE  DISPLAY///////////////// */

.humburg_icon , .logo_search{
    display:none;
}



/* --------------------------------- */

.header{
    /* background-color:red; */
    width:100%;
    position:fixed;
    font-family:poppins;
    font-size:12px;
    
}

.header_container{
    
    display:flex;
    justify-content:space-between;
    border-bottom: 1px solid white;
}

.logo{
    width:39%;
    padding:19px 0px;
    /* background-color:brown; */
    background-image:url("../media/images/logo.png");
    background-position: 0px -186px;
    /* background-size:cover; */
}

.header_left{
    padding:10px 0px;
    width:45%;
    display:flex;
}


.search_bar{
    width:61%;
    padding:10px 0px;
    /* background-color:aqua; */
    display:flex;
}

.search{
    width:100%;
    border-radius:5px;
    border:1px solid transparent;
    background-color:transparent;
    color:white;
    text-indent:20px;
    outline:none;
}

/* .search_icon{
    color:white;
} */


.navigation{
    width:24%;
    /* background-color:aqua; */
    display:flex;
}

.nav{
    width:100%;
    list-style-type:none;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
}

.link{
    padding:19px 0px;
}

.new{
    width:10%;
    color:white;
    background-color:#ff5300;
    height:7px;
    padding:5px;
    font-size:10px;
    margin-top:5px;
    line-height:7px;
}

.header_icon{
    font-size:18px;
}


.link:hover{
    border-bottom: 2px solid #ff5300;
} 

/* css for banner section */

.banner{
    height:100vh;
    width:100%;
    background-image:url("../media/images/banner.jpg");
    background-blend-mode:saturation;
    background-color:rgba(0,0,0,0.4);
    background-size:cover;
    background-position:center ;
}

.banner_container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    position:relative;
}

.banner_details{
    width:90%;
    height:300px;
    color:white;
    font-family:poppins;
    position:absolute;
    margin-top:-100px;
    /* background-color:white; */
}

.banner_details >h1{
    font-size:40px;
    text-align:center;
    overflow:hidden;


}

.banner_slider{
    height:100px;
    overflow:hidden;
}

.slider{
    height:500px;
    overflow:hidden;

    animation-name:slider;
    animation-duration: 15s;
    animation-iteration-count:infinite;
    animation-delay: 2s;
    
}

@keyframes slider{
    12.5%{
        margin-top:-100px;
    }
    25%{
        margin-top:-100px;
    }
    37.5%{
        margin-top:-200px;
    }
    50%{
        margin-top:-200px;
    }
    62.5%{
        margin-top:-300px;
    }
    75%{
        margin-top:-300px;
    }
    87.5%{
        margin-top:-400px;
    }
    100%{
        margin-top:-400px;
    }
}


.slider > h1{
    height:100px;
    width: 100%;
    /* background-color:red; */
    text-align:center;
    font-size:80px;
}


.banner_services{
    width:100%;
    height:90px;
    margin-top:55px;
    /* background-color:greenyellow; */
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.service{
    width:60%;
    height:40px;
    /* background-color:white; */
    border-radius:10px;
    overflow:hidden;
    align-self:center;
    
}

.service_nav{
    width:100%;
    height:40px;
    list-style-type:none;
    display:flex;
    background-color:white;
    column-gap:1px;
}

.service_nav > li{
    width:20%;
    height:40px;
    line-height:40px;
    background-color:#3d3836;
    text-align:center;
    font-size:12px;
}

.service_nav > li:nth-child(1){
    background-color:#ff5300;
}

.service_nav > li:hover{
    background-color:#ff5300;
}
.banner_search{
    width:100%;
    height:60px;
    background-color:white;
    align-self:flex-start;
    border-radius:10px;
    overflow:hidden;
    display:flex;
    justify-content:space-between;
}

.banner_search > input{
    width:90%;
    height:60px;
    font-size:20px;
    text-indent:20px;
    outline:none;
    border:none;

}

.banner_search  p{
    width:10%;
    height:60px;
    line-height:60px;
    color:black;
    font-size:26px;
    text-align:center;
    font-weight:ligther;
}

.banner_footer{
    margin-top:550px;
    width:80%;
    height:70px;
    /* background-color:#3d3836; */
    display:flex;
    color:white;
    

}

.ban_footer{
    width:25%;
    /* background-color:aqua; */
    height:70px;
    font-size:12px;
    font-family:poppins;
    font-weight:200;
    display:flex;
    align-items:center;
    justify-content:center;
    opacity:.7;

}

.footer_icon{
    font-size:30px;
    margin-right:10px;
}

.ban_footer:hover{
    opacity:1;
}


/* css for perfect escape */

.perfect{
    margin-top:70px;
    margin-bottom:70px;
    padding: 20px 0px;
    /* background-color:#ff5300; */
}

.perfect_container{
    height:600px;
    /* background-color:blue; */
    display:flex;
    align-items:center;

}

.perf_text{
    width:30%;
    height:200px;
    /* background-color:green; */
    display:flex;
    flex-direction:column;
    justify-content:center;
    font-family:poppins

}

.perf_text > h1{
    font-size:30px;
    
}
.perf_text > p{
    font-size:16px;
    color:gray;
    
}
.perf_text > hr{
    width:60px;
    margin: 10px 0px;
    height:2px;
    background-color:orange;
    border:none;
    outline:none;
    
}

.perf_images{
    width:65%;
    margin-left:5%;
    /* background-color:green; */
    height:362px;
    display:flex;
    

}


.perf_image_slider{
    width:100%;
    display:flex;
    height:362px;
    column-gap:2%;  
    /* background-color:#ff5300; */
}


.perf_image{
    width:32%;
    height:362px;
    /* background-color:aquamarine; */
    background-image:url("../media/images/perfect_escape_1.jpg");
    background-size:cover;
    border-radius:10px;
    
}

.perf_image:nth-child(2){
    background-image:url("../media/images/perfect_escape_2.png");
    
}

.perf_image:nth-child(3){
    background-image:url("../media/images/perfect_escape_3.png");
    
}





/* css for find best */

.find_best{
    padding-top:50px;
    padding-bottom:50px;
    /* background-color:aquamarine; */
}

.find_best_container{
    /* background-color:green; */
    height:588px;
    display:flex;
}

.book{
    width:53%;
    /* background-color:red; */
    height:588px;
    margin-right:2%;
}



.book_1{
    height:200px;
    background-color:gray;
    background-image:url("../media/images/find_best.jpg");
    background-size:cover;
    border-radius: 10px;
    display:flex;
    font-family:poppins;
    flex-direction:column;
    justify-content:center;
    color:white;
    opacity:1;
    
}

.book_1:hover{
    opacity:.8;
}

.book_1 > h2{

    margin-left:20px;
}

.book_1> p{
    margin-left:20px;
    font-size:15px;
}

.book_1 > button{
    width:120px;
    height:40px;
    font-family:poppins;
    color:black;
    background-color:yellow;
    border-radius:10px;
    font-size:18px;
    padding:10px;
    border:none;
    outline:none;
    margin-left:20px;
    line-height:20px;
    text-align:center;
    margin-top:10px;
}



.book_2{
    margin-top:28px;
    height:360px;
    background-color:pink;
    border-radius: 10px;
    background-image:url("../media/images/dubai.jpg");
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    color:white;
    font-family:poppins;
    font-weight:bold;
    transition:.3s;
    opacity:1;
}


.country{
    width:45%;
    /* background-color:blue; */
    height:588px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.countries{
    width:31%;
    height:200px;
    background-color:red;
    border-radius:10px;
    background-size:cover;
    background-position:center;
    font-family:poppins;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:1;
    transition: .3s;
}

.countries_1{
    background-image:url("../media/images/singapore.jpg");
}

.countries_2{
    height:150px;
    background-image:url(../media/images/amsterdam.jpg);
}

.countries_3{
    background-image:url("../media/images/thailand.jpg");
}

.countries_4{
    margin-top:28px;
    height:150px;
    background-image:url("../media/images/italy.jpg");
}
.countries_7{
    margin-top:25px;
    height:185px;
    background-image:url("../media/images/paris.jpg");
}
.countries_8{
    margin-top:25px;
    height:185px;
    background-image:url("../media/images/malaysia.jpg");
}
.countries_9{
    margin-top:25px;
    height:185px;
    background-image:url("../media/images/usa.jpg");
}
.countries_5{
    margin-top:-30px;
    height:210px;
    background-image:url("../media/images/abudhabi.jpg");
}
.countries_6{
    margin-top:28px;
    height:150px;
    background-image:url("../media/images/australia.jpg");
}

.countries:hover{
    opacity:.8;
}

.book_2:hover{
    opacity:.8;
}



/* css for special group */
.special_container{
    /* background-color:green; */
    height:120px;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:space-between;

    border:1px solid #ff5300;
    box-shadow: 0px 0px 10px 2px rgba(243,112,34,0.3);
    
}

.special_details{
    display:flex;
    align-items:center;
}

.special_img{
    width:100px;
    height:100px;
    margin-left:10px;
}

.special_container h1{
    font-family:poppins;
    margin-left:10px;
    font-size:22px;
}

.special_container p{
    font-size:14px;
    margin-top:6px;
}

.special_button{
    margin-right:20px;
    height:50px;
    width:180px;
    line-height:50px;
    font-size:17px;
    color:white;
    border-radius:10px;
    background-color:#ff5300;
    font-family:poppins;
    border:none;

}

.special_button:hover{
    background-color:white;
    color:#ff5300;
    border:1px solid #ff5300;
}


/* css for best of india  */

.india_container{
    height:400px;
    /* background-color:blue; */
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:50px;
    font-family:poppins;

}

.india_container h1{
    font-size:27px;
}

.india_container hr{
    margin-top:5px;
    width:6%;
    border:none;
    height:2px;
    background-color:#ff5300;
}

.indian{
    width:100%;
    height:300px;
    /* background-color:red; */
    margin-top:30px;
    overflow:hidden;
    
}

.indian_slider{
    width:200%;
    height:300px;
    display:flex;
    column-gap:1%;
  
}


.best_india{
    width:10%;
    height:300px;
    background-size:cover;
    background-position:bottom;
    border-radius:10px;

}

.best_india_1{
    background-image:url("../media/images/best_India_1.jpg");
}
.best_india_2{
    background-image:url("../media/images/best_India_2.jpg");
}
.best_india_3{
    background-image:url("../media/images/best_India_3.jpg");
}
.best_india_4{
    background-image:url("../media/images/best_India_4.jpg");
}
.best_india_5{
    background-image:url("../media/images/best_India_5.jpg");
}


/* css for best of asia  */

.asia_container{
    height:400px;
    /* background-color:blue; */
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:50px;
    font-family:poppins;

}

.asia_container h1{
    font-size:27px;
}

.asia_container hr{
    margin-top:5px;
    width:6%;
    border:none;
    height:2px;
    background-color:#ff5300;
}

.asian{
    width:100%;
    height:300px;
    /* background-color:red; */
    margin-top:30px;
    overflow:hidden;
    
}

.asian_slider{
    width:200%;
    height:300px;
    display:flex;
    column-gap:1%;
  
}


.best_asia{
    width:10%;
    height:300px;
    background-size:cover;
    background-position:bottom;
    border-radius:10px;

}

.best_asia_1{
    background-image:url("../media/images/best_asia_1.jpg");
}
.best_asia_2{
    background-image:url("../media/images/best_asia_2.jpg");
}
.best_asia_3{
    background-image:url("../media/images/best_asia_3.jpg");
}
.best_asia_4{
    background-image:url("../media/images/best_asia_4.jpg");
}
.best_asia_5{
    background-image:url("../media/images/best_asia_5.jpg");
}


/* css for best of europe  */

.europe_container{
    height:400px;
    /* background-color:blue; */
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:50px;
    font-family:poppins;

}

.europe_container h1{
    font-size:27px;
}

.europe_container hr{
    margin-top:5px;
    width:6%;
    border:none;
    height:2px;
    background-color:#ff5300;
}

.european{
    width:100%;
    height:300px;
    /* background-color:red; */
    margin-top:30px;
    overflow:hidden;
    
}

.european_slider{
    width:200%;
    height:300px;
    display:flex;
    column-gap:1%;
  
}


.best_europe{
    width:10%;
    height:300px;
    background-size:cover;
    background-position:bottom;
    border-radius:10px;

}

.best_europe_1{
    background-image:url("../media/images/europe_1.jpg");
}
.best_europe_2{
    background-image:url("../media/images/europe_2.jpg");
}
.best_europe_3{
    background-image:url("../media/images/europe_3.jpg");
}
.best_europe_4{
    background-image:url("../media/images/europe_4.jpg");
}
.best_europe_5{
    background-image:url("../media/images/europe_5.jpg");
}






/* css for  carousel section */

.carousel_section{
    width:100%;
    height:300px;
    /* background-color:gray; */
    margin-bottom:40px;
    margin-top:50px;
    
}
.carousel_container{
    background-color:aquamarine;
    height:300px;
    overflow:hidden;
    border-radius:10px;
    position:relative;
    display:flex;
}

.carousel_slider{
    width:500%;
    height:300px;
    display:flex;

    animation-name:carousel;
    animation-iteration-count:infinite;
    animation-duration: 16s;
    animation-delay: 2s;
}

.carousel_slider img{
    width:100%;
    height:300px;
}

@keyframes carousel{

    6.5%{
        margin-left:-100%;
    }

    16.5%{
        margin-left:-100%;

    }

    22.5%{
        margin-left:-200%;
        
    }

    33%{
        margin-left:-200%;

    }

    39.5%{
        margin-left:-300%;
    }

    49.5%{
        margin-left:-300%;

    }

    55.5%{
        margin-left:-400%;
    }

    66%{
        margin-left:-400%;

    }

    72.5%{
        margin-left:-500%;
    }

    82.5%{
        margin-left:-500%;

    }

    88.5%{
        margin-left:-600%;
    }

    100%{
        margin-left:-600%;
    }
}

.dots{
    width:100%;
    height:40px;
    /* background-color:red; */
    position:absolute;
    bottom: 0;
    display:flex;
    justify-content:center;
    align-items:center;
    column-gap:3px;
}

.dot{
    width:5px;
    height:5px;
    border-radius:5px;
    background-color:white;

    animation-iteration-count:infinite;
    animation-duration: 16s;
    animation-delay:2s;
   
}

.dot:nth-child(1){
    animation-name:dot1;
    background-color:#ff5300;
}
.dot:nth-child(2){
    animation-name:dot2;
    
}
.dot:nth-child(3){
    animation-name:dot3;
    
}
.dot:nth-child(4){
    animation-name:dot4;
    
}
.dot:nth-child(5){
    animation-name:dot5;
    
}
.dot:nth-child(6){
    animation-name:dot6;
    
}

@keyframes dot1{
    6.5%{
        background-color:white;
        
    }

    16.5%{
        background-color:white;

    }

    22.5%{
        background-color:white;
    }

    33%{
        background-color:white;

    }

    39.5%{
        background-color:white;
    }

    49.5%{
        background-color:white;

    }

    55.5%{
        background-color:white;
    }

    66%{
        background-color:white;

    }

    72.5%{
        background-color:white;
    }

    82.5%{
        background-color:white;

    }

    88.5%{
       background-color:#ff5300;
    }

    100%{
        background-color:#ff5300;
    }

}


@keyframes dot2{
    6.5%{
        background-color:#ff5300;
        
    }

    16.5%{
        background-color:#ff5300

    }

    22.5%{
        background-color:white;
    }

    33%{
        background-color:white;

    }

    39.5%{
        background-color:white;
    }

    49.5%{
        background-color:white;

    }

    55.5%{
        background-color:white;
    }

    66%{
        background-color:white;

    }

    72.5%{
        background-color:white;
    }

    82.5%{
        background-color:white;

    }

    88.5%{
       background-color:white;
    }

    100%{
        background-color:whit;
    }

}
@keyframes dot3{
    6.5%{
        background-color:white;
        
    }

    16.5%{
        background-color:white;

    }

    22.5%{
        background-color:#ff5300;
    }

    33%{
        background-color:#ff5300;

    }

    39.5%{
        background-color:white;
    }

    49.5%{
        background-color:white;

    }

    55.5%{
        background-color:white;
    }

    66%{
        background-color:white;

    }

    72.5%{
        background-color:white;
    }

    82.5%{
        background-color:white;

    }

    88.5%{
       background-color:white;
    }

    100%{
        background-color:white;
    }

}
@keyframes dot4{
    6.5%{
        background-color:white;
        
    }

    16.5%{
        background-color:white;

    }

    22.5%{
        background-color:white;
    }

    33%{
        background-color:white;

    }

    39.5%{
        background-color:#ff5300;
    }

    49.5%{
        background-color:#ff5300;

    }

    55.5%{
        background-color:white;
    }

    66%{
        background-color:white;

    }

    72.5%{
        background-color:white;
    }

    82.5%{
        background-color:white;

    }

    88.5%{
       background-color:white;
    }

    100%{
        background-color:white;
    }

}

@keyframes dot5{
    6.5%{
        background-color:white;
        
    }

    16.5%{
        background-color:white;

    }

    22.5%{
        background-color:white;
    }

    33%{
        background-color:white;

    }

    39.5%{
        background-color:white;
    }

    49.5%{
        background-color:white;

    }

    55.5%{
        background-color:#ff5300;
    }

    66%{
        background-color:#ff5300;

    }

    72.5%{
        background-color:white;
    }

    82.5%{
        background-color:white;

    }

    88.5%{
       background-color:white;
    }

    100%{
        background-color:white;
    }

}



@keyframes dot6{
    6.5%{
        background-color:white;
        
    }

    16.5%{
        background-color:white;

    }

    22.5%{
        background-color:white;
    }

    33%{
        background-color:white;

    }

    39.5%{
        background-color:white;
    }

    49.5%{
        background-color:white;

    }

    55.5%{
        background-color:white;
    }

    66%{
        background-color:white;

    }

    72.5%{
        background-color:#ff5300;
    }

    82.5%{
        background-color:#ff5300;

    }

    88.5%{
       background-color:white;
    }

    100%{
        background-color:white;
    }
}




/* css for experience section */

.experience{
    /* background-color:gray; */
    width:100%;
    height:600px;
}

.experience_container{
    height:600px;
    /* background-color:aqua; */
    overflow:hidden;
}

.experience_container h2{
    font-size:30px;
    font-family:poppins;
    text-align:center;
  

}

.experience_container hr{
    width:5%;
    height:2px;
    background-color:#ff5300;
    border:none;
    margin-left:47.5%;
    margin-top:10px;
    
}

.experience_slider{
    width:200%;
    height:440px;
    column-gap:1%;
    /* overflow:hidden; */
    display:flex;
}

.experience_cards{
    width:100%;
    height:440px;
    /* background-color:red; */
    margin-top:20px;
    font-family:poppins;
    display:flex;
    overflow:hidden;
    
}

.experience_card{
    width:20%;
    height:320px;
}

.experience_img{
    background-position:cover;
    height:300px;
    border-radius:12px;
}

.experience_img_1{
    background-image:url("../media/images/experience_1.avif");

}
.experience_img_2{
    background-image:url("../media/images/experience_2.avif");

}
.experience_img_3{
    background-image:url("../media/images/experience_3.avif");

}
.experience_img_4{
    background-image:url("../media/images/experience_4.avif");

}
.experience_img_5{
    background-image:url("../media/images/experience_5.avif");

}

.experience_details{
    height:120px;
    font-size:13px;
}

.star{
    margin-top:10px;
    color:#ffc527;
}

.star_review{
    font-family:poppins;
    color:#949494;
    font-size:12px;
}

.experience_price{
    font-family:poppins;

}

.strike{
    text-decoration:line-through;
    font-size:10px;
    font-family:poppins;
    color:#949494;

}

.price{
    font-family:poppins;
    font-weight:200;
    color:#000;
}





/* css for destination neat you */

.destination{
    /* background-color:azure; */
    height:350px;
    width:100%;
}

.destination_container{
    height:350px;
    /* background-color:red; */
    display:flex;
    flex-direction:column;
    align-items:center;
}

.destination_container > h2{
    font-family:poppins;
    font-size:30px;

}

.destination_container > hr{
    width:6%;
    height:2px;
    background-color:#ff5300;
    border:none;
    margin-top:10px;
}

.destination_places{
    width:60%;
    height:30px;
    /* background-color:green; */
    margin-top:20px;
    font-family:poppins;
}

.places_slider{
    width:100%;
    height:30px;
    display:flex;
    justify-content:space-between;
}

.places_slider div{
    font-size:12px;
    height:30px;
    line-height:30px;
    /* background-color:red; */
    color:#949494;
    padding-left:10px;
    padding-right:10px;
    border-radius:20px;
    border:1px solid #949494;
    font-weight:500;

}

.places_slider div:nth-child(1){
    border-color:#ff5300;
    color:#ff5300;
    
}

.places_slider div:hover{
    border-color:#ff5300;
    color:#ff5300;
}

.destination_location{
    width:100%;
    /* background-color:aqua; */
    height:60px;
    
    /* justify-content:space-between; */
    
    
}

.location_slider{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    column-gap:1.5%;
    font-family:poppins;
    height:60px;
    margin-top:60px;
}

.destination_loc{
    padding:4px;
    width:22%;
    /* background-color:beige; */
    height:60px; 
    display:flex; 
    margin-bottom:40px;
}

.destination_loc img{
    width:60px;
    height:60px;
    border-radius:8px;
    margin-left:10px;
}

.destination_text{
    margin-left:14px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.destination_text h2{
    font-size:16px;
    
}

.destination_text p{
    font-size:12px;
}

.btn{
    width:130px;
    height:30px;
    background-color:#ff5300;
    color:white;
    font-family:poppins;
    line-height:30px;
    font-size:15px;
    text-align:center;
    border-radius:10px;
    margin-top:10px;
    margin-left:10px;
}

.btn:hover{
    color:#ff5300;
    background-color:white;
    border:1px solid #ff5300;
}
.destination_loc:hover{
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
    border-radius:10px;
    transition: 0.2s;
}


/* css for paradise section */

.paradise_container{
    /* background-color:gray; */
    height:500px;
    display:flex;
    flex-direction:column;
    align-items:center;
    font-family:poppins;
}

.paradise_container h1{
    font-size:27px;
}

.paradise_container  hr{
    width:6%;
    height:2px;
    background-color:#ff5300;
    border:none;
    margin-top:10px;
}

.paradise{
    width:100%;
    /* background-color:blue; */
    display:flex;
    margin-top:20px;

}

.para_scroll{
    width:100%;
    column-gap:2%;
    display:flex;
}

.para{
    width:24%;
    height:400px;
}

.paradise_img{
    width:100%;
    height:250px;
}

.para h3{
    font-size:16px;
}

.para hr{
    width:15%;
    height:2px;
    border:none;
    background-color:#ff5300;
    margin-top:0px;
}

.para p{
    font-size:13px;
    color:#949494;
}




/* css for patners section */
.patners_container{
    height:350px;
    /* background-color:gray; */
    font-family:poppins;
    display:flex;
    flex-direction:column;
    
}

.partner_details{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.patners_container h1{
    font-size:27px;

}

.patners_container hr{
    width:6%;
    height:2px;
    border:none;
    background-color:#ff5300;
    margin-top:5px;
}

.patners_container h3{
    margin-top:5px;
    color:#949494;
    font-size:16px;
}

.patners{
    width:100%;
    height:230px;
    
    transition:.4s;
    margin-top:30px;
    column-gap:30px;
    row-gap:30px;
}

.patners_img:hover{
    filter:none;
}

.patners_img{
    width:110px;
    height:30px;
    margin:20px;
    filter:grayscale(100%);
}
