@media (min-width:320px) and (max-width:460px){
    /* Non display in mobile */

    .navigation , .search_bar, .service{
        display:none;
    }

    /* ////////////////////////////// */

    .header_container{
        width:100%;
        border:none;
 
    }

    .header_left{
        width:100%;
        justify-content:space-around;
        align-items:center;
    }

    .logo{
        width:43%;
        background-repeat:no-repeat;
    }

    .humburg_icon{
        display:block;
        color:white;
        font-size:20px;
    }

    .logo_search{
        display:block;
        color:white;
        font-size:20px;
    }



    /* css for banner */

    .banner_details >h1{
        font-size:25px;
    }

    .slider > h1{
        font-size:50px;
    }


    .banner_search{
        width:100%;
        height:40px;
    }

    .service{
        width:100%;
    }

    .service_nav{
        width:100%;
    }

    .banner_search > input{
        height:40px;
        width:100%;
    }

    .banner_search  p{
        font-size:40px;
        line-height:40px;
        font-size:16px;
    }


    .banner_search > input::placeholder{
        font-size:12px;
    }

    .banner_footer{
        margin-top:440px;
        height:140px;
        width:100%;
        flex-wrap:wrap;
    }

    .ban_footer{
        width:50%;
        justify-content:flex-start;
        font-size:10px;
    }

    .ban_footer:nth-child(2){
        width:35%;
        margin-left:15%;
    }

    .ban_footer:nth-child(4){
        width:40%;
        margin-left:10%;
    }

    .footer_icon{
        font-size:25px;
    }

    /* css for perfect escape */

   
    .perfect{
        margin-bottom:0px;
    }

    .perfect_container{
        flex-direction:column;
        align-items:flex-start;
    }

    .perf_text{
        width:100%;
    }

    .perf_images{
        width:100%;
        margin-left:0px;
        display:block;
        overflow:scroll;
    }


    .perf_image_slider{
        width:200%;
    }

    .perf_image{
        width:50%;
    }


    /* css for find best */

    .find_best_container{
        flex-direction:column;
        height:930px;
    }

    .book{
        width:100%;
    }

    .book_1{
        height:150px;
    }

    .book_1 > button{
        height:30px;
        line-height:15px;
        font-size:14px;
    }

    .book_2{
        height:150px;
    }

    .country{
        width:100%;
        margin-top:20px;
    }


    /* css for special section */



    .special_container{
        height:200px;
        flex-direction:column;
        justify-content:space-around;
    }

    .special_container h1{
        font-size:14px;
    }

    .special_container p{
        font-size:10px;
    }

    .special_btn{
        width:100%;
        display:flex;
        justify-content:center;
    }

    .special_button{
        width:90%;
        margin-right:0px;
    }


    /* css for best on Indai */


    .india_container h1{
        font-size:17px;
    }

    .india_container hr {
        width:20%;
    } 

    .indian{
        overflow:scroll;
        height:310px;

    }

    .indian_slider{
        height:310px;
        width:300%;
    }

    .best_india{
        width:100%;
    }



    /* css for best of asia */

    .asia_container h1{
        font-size:17px;
    }

    .asia_container hr{
        width:20%;

    }

    .asian{
        overflow:scroll;

    }

    .asian_slider{
        width:300%;
    }

    .best_asia{
        width:100%;
    }


    /* css for best of europe */


    .europe_container hr{
        width:20%;
    }

    .europe_container h1{
        font-size:17px;
    }

    .european{
        overflow:scroll;
    }

    .european_slider{
        width:300%;
    }

    .best_europe{
        width:100%;
    }


    /* css for carousel_section */


    .carousel_section{
        margin-bottom:0px;
    }

  
    .carousel_container{
        height:100px;
        border-radius:0px;
    }

    .carousel_slider{
        height:100px;
    }
    
    .carousel_slider img{
        height:100px;
    }



    /* css for experience section */

    .experience{
        margin-top:-130px;
    }


    .experience_container h2{
        font-size:15px;
    }

    .experience_container hr{
        width:20%;
        margin-left:40%;
    }


    .experience_slider{
        width:350%;
        /* overflow:scroll; */
        height:440px;
    }

    .experience_cards{
        width:100%;
        height:440px;
        overflow:scroll;
        display:block;
    }

    .experience_card{
        width:70%;
        height:320px;
    }

    /* css for destinations */

    .destination{
        margin-top:-50px;
    }

    .destination_container{
        height:500px;
    }

    .destination_container > h2{
        font-size:17px;
    }

    .destination_container > hr{
        width:20%;
    }

    .destination_places{
        width:100%;
        overflow:scroll;
        height:50px;
    }

    .places_slider{
        width:200%;
    }

    .destination_location{
        overflow:scroll;
        height:320px;
    }

    .location_slider{
        width:200%;
        height:320px;
    }

    .destination_loc{
        width:35%;

    }




    /* css for paradise */
    .paradise_section{
        margin-top:150px;
    }

    .paradise{
        overflow:scroll;
        display:block;
    }

    .paradise_container h1{
        font-size:17px;
    }

    .paradise_container hr{
        width:20%;
    }

    .para_scroll{
        width:300%;
        display:flex;
    }

    .para{
        width:100%;
    }


    /* css for patners */

    .patners_section{
        margin-top:20px;

    }


    .patners_container h1{
        font-size:17px;
    
    }

    .patners_container h3{
        font-size:9px;
    
    }

    .patners_container hr{
        width:20%;
    
    }

    .patners{
        margin-top:5px;
    }

    .patners_img{
        width:60px;
        height:20px;
    }



}