*{
    margin: 0px;
    padding: 0px;
}

.header{
    height: 40px;
    width:100%;
    background-color:gray;
}


.container{
    background-color:orangered;
    height:40px;
    width:80%;
    margin-left:10%;
    display:inline-block;
}
 
.logo{
    height: 40px;
    width:15%;
    background-color:pink;
    text-align:center;
    font-size:30px;
    font-family:calibri;
    font-weight:bold;
    

}