*{
    margin:0px;
    padding:0px;
}


@media (min-width:320px) and (max-width:420px){
    /* css for header  */
    .header{
        width:100%;
        /* height:200px; */
        background-color:rgba(0, 0, 0,0.5);

        height:40px;
        overflow:hidden;
    }

    .container{
        display:block;
    }

    .header_container{
        height:200px;
        width:100%;
    }

    .header:hover{
        height:200px;

    }

    .logo{
        width:100%;
        height:40px;
        font-size:20px;
    }

    .navigation{
        width:100%;
    }

    .nav{
        width: 100%;
        display:block;
    }

    .nav_link{
        width:100%;
        height:30px;
        font-size:13px;
    }


    /* css for banner */

    .banner{
        width:100%;
        height:300px;
        background-position: 0px 0px;
    }

    .banner_details{
        font-size:18px;
        width:150px;

    }

    .btn{
        width:70px;
        height:30px;
        line-height:30px;
        font-size:12px;
    }




    /* css for our products */

    .product{
        width:49%;
        height:250px;
        background-position:0 0px;
    }

    .product p{
        display:none;
    }

    .product_container{
        height:1100px;
    }

    .product_title{
        font-size:15px;
    }

    .products{
        height:1100px;
    }

    .product_details{
        width:100%;
        height:30px;
        background-color:#dbb7be;
        color:black;
    }

    .product_details_1{
        font-size:15px;
    }

    .product_details_2{
        font-size:11px;
    }

    /* css for new products */

    .new_products_section{
        width:100%;
        height:300px;
        /* background-color:green; */
        overflow:hidden;
       
    }

    .slider{

        width:100%;
        height:300px;


        animation-name: slider;
        animation-duration: 20s;
        animation-iteration-count: infinite;

    }

    @keyframes slider{
        25%{
            margin-top:-300px;
        }

        50%{
            margin-top:-600px;
        }

        75%{
            margin-top:-900px;
        }

        100%{
            margin-top:-900px;
        }
    }


    .new_product{
        width:100%;
        height:300px;
        position:relative;
        margin-left:0%;
    }


    .product_head{
        font-size:25px;
        font-weight:300;
        margin-bottom:20px;

    }

    .product_text{
        font-size:12px;
    }


    
.product_4:hover{
    margin-left:0px;
}

.product_3:hover{
    margin-left:0px;
}

.product_3:hover ~ .product_4{
    margin-left: 0%;
}

.product_2:hover{
    margin-left:0px;
}

.product_2:hover ~ .product_3{
    margin-left:0%;
}

.product_2:hover ~ .product_4{
    margin-left:0%;
}

.product_1:hover{
    margin-left:0px;

}

.product_1:hover ~ .product_2{
    margin-left:0%;
}

.product_1:hover ~ .product_3{
    margin-left:0%;
}

.product_1:hover ~ .product_4{
    margin-left:0%;
}



    /* css for newletter */

    .subscribe_container{
        height:120px;
    }

    .sub_text{
        margin-top:10px;
        color:white;
        font-size:15px;
    }

    .sub_input{
        font-size:11px;
        height:20px;
    }

    .sub_btn{
        height:30px;
        width:30%;
        margin-left:35%;
        margin-top:10px;
    }



    /* css for footer */

    .footer{
        /* width:100%; */
        height:700px;

    }

    .footer_container{
        width:100%;
        height:700px;
        /* background-color:green; */
    }

    .footer_child{
        width:100%;
        height:230px;
    }

    .footer_child:nth-child(3){
        margin-top:-100px;
    }

    .footer_title{
        font-size:14px;
    }

    .footer_title{
        font-size:14px;
    }

    .quick_links{
        margin-top:0px;
    }

    .quick_link{
        font-size:11px;
    }

    .blog_how{
        font-size:20px;
    }


    /* css for contacts */

    .contact_section{
        width:100%;
    }


    .title{
        font-size:20px;
    }

    .form_feild{
        width:100%;
        height:20px;
    }

    .form_feild:nth-child(4){
        width:100%;
    }

    .form_feild::placeholder{
        font-size:12px;
    }

    .blog_text{
        font-size:12px;
    }


    /* css for copy */

    .copy{
        height:20px;
        font-size:10px;
        line-height:20px;
    }


}