@import url("https://fonts.googleapis.com/css2?family=Fira+Sans");

* {
  margin: 0px;
  padding: 0px;
  font-family: fira sans;
}

.header {
  /* background-color: lightcyan; */
  padding: 10px 5%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 15%;
  height: 30px;
  /* background-color: aqua; */
  font-size: 23px;
  font-family: fira sans;
  /* text-align: center; */
  line-height: 30px;
}

.header button {
  background-color: lightblue;
  width: 10%;
  border: 1px solid blue;
  border-radius: 10px;
  outline: none;
  font-size: 15x;
  font-family: fira sans;
  border: none;
}

.header button:hover {
  background-color: #1b8baf;
}

.header button:active {
  background-color: lightblue;
}

.data{
  /* margin-top:10px; */
  padding: 0px 5%;
  height:500px;
  /* background-color: #87e3de; */
}

table{
  width:100%;
  font-family: fira sans;
  font-weight: 100;
  font-size: 13px;
  margin-top:10px;
}


table,th,tr,td{
  border: 1px solid gray;
  border-collapse: collapse;
}

table th{
  height:40px;
  background-color: lightblue;

}

table td{
  height:40px;
  padding-left:10px;
}



tbody tr:nth-child(even){
  background-color: #e5e5e5;

}

.actions{
  display: flex;
  justify-content: center;
  border: none;
}

.actions i{
  margin-right:10px;
  line-height: 40px;
  transition: .3s;
}

.actions i:hover{
  transform: scale(.9);

}

.actions i:active{
  color: black;
}

.actions i:nth-child(3){
  color:#f12323;
}

.actions i:nth-child(2){
  color:blue;
}


/* css for popUp */

.popUp{
  width:100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position:fixed;
  display:flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.details{
  width:60%;
  /* height:450px; */
  background-color: #e5e5e5;
  border-radius: 10px;
  padding: 30px;
  font-family: fira sans;
  position: relative;
}

.close{
  position:absolute;
  left:95%;
  font-size: 20px;
  color: red;
}

.movie_details{
  margin-top: 20px;
  width:100%;
  /* background-color: #f12323; */
  display: flex;
}

.poster{
  width:33%;
  height: 390px;
  /* background-color: aqua; */
}

.movie_det{
  width: 67%;
  height: 390px;
  /* background-color: gold; */
  font-size: 11px;
  font-family: fira sans;
  padding:0px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.rating{
  display:flex;
  column-gap: 30px;
}

.image{
  width:100%;
  height:100%;
  border-radius: 10px;
  overflow: hidden;
}

.img{
  width:100%;
  height: 100%;
  transition: .3s;
}

.img:hover{
  transform: scale(1.1);
}


/* css for add movie popUp */

.popUp_2 ,.update_modal{
  width:100%;
  height:100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-family: fira sans;
  display: none;
}

.add_details{
  width:50%;
  height:70vh;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  position: relative;
}

.inputs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top:20px;
}

.inp{
  width:47%;
  border:none;
  outline: none;
  border-radius: 10px;
  border:1px solid gray;
  height:30px;
  text-indent: 20px;
  margin-bottom: 20px;
}

.story{
  width: 100%;
  height: 150px;
  text-indent: 4px;
}

.inputs button {
 border-radius: 10px;
  border:1px solid gray;
  outline: none;
  background-color: #1b8baf;
  width:16%;
  height:30px;
  font-family: fira sans;
}

.inputs button:hover{
  transform: scale(.9);
}

.inputs button:active{
  background-color: #e5e5e5;
}

.url{
  width:100%;
}


/* css for pagination */

.pagination{
  width:100%;
  height:40px;
  /* background-color: #f12323; */
  display:flex;
  justify-content: space-between;
}

.controls{
  width:60%;
  display: flex;
  align-items: center;
}

.pagination button{
  width:10%;
  height:30px;
  border-radius: 10px;
  outline: none;
  border:none;
  margin-right: 5px;
  background-color: #1b8baf;
  border:1px solid gray;
}

.pagination input{
  border-radius: 5px;
  width:25%;
  height: 20px;
  border:none;
  border:1px solid gray;
  outline:none;
  text-indent: 20px;
}

.pages{
  font-size: 13px;
  height:40px;
  line-height: 40px;
}
